.sketcher-frame {
	margin: -2px;
	resize: none;
	min-width: 370px;
	min-height: 370px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.resizable{
	border: none;
	padding: 0px 8px 8px 0px;
	border: 0px;
	resize: both;
	width: auto;
	height: 510px;
	min-width: 370px;
	min-height: 370px;
	overflow: auto;
	background-color: transparent;
}
